<% title "Disser Pdf" %>

<p>
  <strong>Dpdf File Name:</strong>
  <%=h @disser_pdf.dpdf_file_name %>
</p>
<p>
  <strong>Dpdf Content Type:</strong>
  <%=h @disser_pdf.dpdf_content_type %>
</p>
<p>
  <strong>Dpdf File Size:</strong>
  <%=h @disser_pdf.dpdf_file_size %>
</p>

<p>
  <%= link_to "Edit", edit_disser_pdf_path(@disser_pdf) %> |
  <%= link_to "Destroy", @disser_pdf, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", disser_pdfs_path %>
</p>
