<% form_for @profession do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :profession_name, 'Специальность' %><br />
    <%= f.text_field :profession_name %>
  </p>
  <p>
    <%= f.label :code_name, 'Шифр' %><br />
    <%= f.text_field :code_name %>
  </p>
  <p>
    <%= f.label :grade_name, 'Степень' %><br />
    <%=  collection_select(:profession, :grade_id, @grades, :id, :grade_name) %>
  </p>
  <p><%= f.submit "Сохранить" %></p>
<% end %>

